#substitute-screen-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.substitute-screen-input-wrap {
  box-sizing: border-box;
}

.substitute-screen-input-wrap>input{
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  text-indent: 10px;
  background-color: var(--colour-background-lighter);
}

#substitute-screen-divider {
  width: 100%;
  height: 5px;
  background-color: var(--colour-primary);
}

#substitute-screen-input-text {
  flex-grow: 1;
}

#substitute-screen-output-text {
  flex-grow: 1;
}

.substitute-screen-textarea {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  white-space: pre-wrap;
  resize: none;
  padding-left: 10px;
  background-color: var(--colour-background-lightest);
}