#formatter-screen-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#formatter-screen-controls {
  display: flex;
  width: 100%;
  height: 60px;
}

.formatter-screen-control-item {
  flex-grow: 1;
}

#formatter-screen-control-main {
  display: flex;
}

#formatter-screen-control-main>select {
  flex-grow: 1;
  border: none;
}

#formatter-screen-control-main>input {
  width: 75px;
  border: none;
  cursor: pointer;
}

#formatter-screen-text {
  flex-grow: 1;
  resize: none;
  border: none;
  padding-left: 10px;
}