#formatter-screen-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#formatter-screen-controls {
  width: 100%;
  height: 60px;
}

.formatter-screen-control-item {
  display: inline-flex;
  width: 50%;
  height: 100%;
}

#formatter-screen-control-main {
  float: left;
}

#formatter-screen-control-main>select {
  flex-grow: 1;
}

#formatter-screen-control-main>input {
  width: 75px;
  cursor: pointer;
}

#formatter-screen-text {
  flex-grow: 1;
  resize: none;
  padding-left: 10px;
}

#formatter-subpanel-pivot {
  width: 100%;
  display: flex;
  flex-direction: column;
}
