#generator-screen-root {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#generator-screen-root input, #generator-screen-root textarea {
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}

#generator-screen-sidebar {
  width: 100%;
  max-width: 350px;
}

.generator-screen-textarea {
  flex-grow: 1;
}

.generator-screen-textarea>textarea {
  height: 100%;
  resize: none;
}

.generator-screen-divider {
  width: 5px;
  background-color: var(--colour-primary);
}

.generator-controls-root {
  height: 200px;
  overflow: auto;
  border-bottom: 1px solid var(--colour-primary);
}

.generator-controls-symbols-wrap {
  display: flex;
}

.generator-controls-template {
  line-height: 40px;
  width: 225px;
  padding-left: 5px;
}

.generator-list-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generator-list-item {
  width: 100%;
  padding: 15px 5px;
  border-bottom: 1px solid var(--colour-primary);
  box-sizing: border-box;
  cursor: pointer;
}
.generator-list-item:hover {
  background-color: var(--colour-background-lighter);
}